/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
  box-sizing: border-box;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
  /* startje */
  --color-text: #111;
  --color-background: #eee;
}





section:first-child {
  margin: 0;

}

section:first-child > nav ul{
  display: flex;
    justify-content: center;
    margin-right: 45em;

}

section:first-child img {
  width: 110%;
  height: auto;
  object-fit: cover;
  vertical-align: middle;
  margin-left: -1em;
  left: 0;
  margin-top: 7.5em;
  position: relative;
}

section:first-child section:nth-of-type(1){
  border-radius:1em;
  background-color: #072b45;
  padding:1em;
  width: 500px;
  position: absolute;
  margin-left: 50%;
  margin-top: -19em;
  padding-right:2em;
  opacity: 90%;
}


section:first-child section:nth-of-type(1) h2{
  color: white;
}

section:first-child section:nth-of-type(1) p{
  color: white;
}

section:first-child section:nth-of-type(1) a{
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: end;
  margin-right: 2em;
}

section:first-child section:nth-of-type(1) a:hover{
  color: white;
  transition: 1s;
  border-bottom:solid #ffffff;
}

section:first-child nav li > a:first-child{
  
}


button:hover {
background-color:#cbdde9;
box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
transition: 0.3s;
}




/* formulier2 */
section:nth-of-type(2){
  display: flex;
  justify-content: center;

}


section:nth-of-type(2) form {
  border-radius: 1em;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), 0 2px 6px 1px rgba(0, 0, 0, 0.2);
  padding: 1em;
  margin: 1em;
  width: 75em;
}

section:nth-of-type(2) input
 {
  padding: 1em;
  text-decoration: #000;
  border-radius: 5px;
  margin: 1em;
  font-size: 1rem;
    line-height: 1.5;
    font-family: "UniversalSansTextRegular";
    font-weight: 400;
}
section:nth-of-type(2) input[name="departure"],
section:nth-of-type(2) input[name="destination"]{
  width: 38%;
}

section:nth-of-type(2) input[name="departure-date" ],
section:nth-of-type(2) input[name="return-date"]{
  width: 35%;
  
}

section:nth-of-type(2) select{
  padding: 1em;
  padding-right: 4em;
  text-decoration: #000;
  border-radius: 5px;
  margin: 1em;
  font-size: 1rem;
    line-height: 1.5;
    font-family: "UniversalSansTextRegular";
    font-weight: 400;
}

section:nth-of-type(2) form button{
  display: flex;
  float: right;
  margin-top: 5em;
}


/* Het zijn weer real deals dagen!3 */




/* Bestemmingen en Deals4 */



section:nth-of-type(3) h2 {
  font-size: 1.75em;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: normal;
  font-family: "UniversalSansDisplayMedium";
}

section:nth-of-type(3) ul {
  border-bottom: solid rgb(239, 239, 239);
  padding-bottom: 1em;
}



/* new york-5 */

section:nth-of-type(3){
  display: grid;
  justify-content: center;
  justify-items: start;
  margin-right: -5em;
}

section:nth-of-type(3) h2{
  
}


section:nth-of-type(3) table {

}

table {
  border-collapse: collapse;
  width: 1000px;
}

tr{
border-bottom: solid 1px lightgray; 
}
span{
  display: flex;
  margin-left: -5em;
}

section:nth-of-type(3) img{
  order: -1;
} 
td {
  padding: 10px;
  text-align: left;
 
}


tr:hover{
  background-color: rgb(225, 225, 225);
}

table a {
  text-decoration: none;
  color: inherit;
}

table a:hover{
  background-color: lightgray;
}

section:nth-of-type(3) button{
  margin-top: 1em;
}



/* blijf op de hoogte-6 */

section:nth-of-type(5){
  display: grid;
  justify-content: center;
  
}

section:nth-of-type(5)  > h2:first-child {
  margin-left: 2em;
  margin-top: 3em;
  margin-bottom: 0em;
  font-size: 1.5rem;
  line-height: 1.5;
  font-family: "UniversalSansDisplayMedium";
  font-weight: 500;
  letter-spacing: normal;
}

section:nth-of-type(5) a > h2:first-child{
  padding-left: 1em;
  font-size: 1.125rem;
  line-height: 1.4444444444;
  font-family: "UniversalSansDisplayMedium";
font-weight: 500;
letter-spacing: normal;   
}

section:nth-of-type(5) ul{
  /* display: flex;
  overflow-x: auto;
  gap: 2em;
  scroll-snap-type: x mandatory;
  padding: 0; */
  display: grid;
  grid-template-columns: 500px 500px;
}

section:nth-of-type(5) ul::-webkit-scrollbar {
  display: none;
}

section:nth-of-type(5) li {
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
  width: 30em;
  min-width: 25em;
  padding-left: 0;
  margin-left: 1em;
  border-radius: 1em;
  margin-bottom: 1em;
 list-style-type: none; 
 display: flex;
 flex-shrink: 1;
 scroll-snap-align: center;
 
}

section:nth-of-type(5) a{
  text-decoration: none;
  color: #000;
  display: flex;
  flex-direction: column;
}
section:nth-of-type(5) a:hover{
  text-decoration: none;
  color: #000;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
transition: 0.3s;
border-radius: 1em;
}

section:nth-of-type(5) img {
  width: 100%;
  border-radius: 1em;
  order: -1;
}

section:nth-of-type(5) p {
  margin-top: -1em;
  padding: 0em 1em 0em 1em;
  font-size: .875rem;
    line-height: 1.5714285714;
    font-family: "UniversalSansTextRegular";
    font-weight: 400;
    letter-spacing: normal;
}

/****************/
/* JOUW STYLING */
/****************/

/* op zoek naar meer dan eenvlucht?-12 */
section:nth-of-type(6){
  display: flex;
  flex-direction: column;
  align-items: center; 
  position: relative;
  height: 42vh;

}



section:nth-of-type(6) > h2:first-child {
margin-left: -3em;
margin-top: 3em;
display: flex;
justify-content: center;
margin-right: 20em;
}

section:nth-of-type(6) ul{
  display:flex;
  justify-content: center;
  gap: 2em;
}

section:nth-of-type(6) li{
  list-style-type: none; 
  justify-content: start;
  width: 13em;
  padding-left: 0;
  margin-left: 1em;
  border-radius: 1em;
  margin-bottom: 2em;
  background-color: #e0f2ff;
  display: flex;
}

section:nth-of-type(6) a{
  text-decoration: none;
  color: #000;
  display: flex;
  flex-direction: column;
}


section:nth-of-type(6) ul img {
  width: 70%;
border-radius: 1em;
order: -1;
}

section:nth-of-type(6) ul h2 {
  margin-left: 1em;
  margin-top: 0;
}


section:nth-of-type(6) p {
  padding-bottom: 1em;
  padding-left: 1em;
}
section:nth-of-type(6) button{
  margin-top:0; 
  display: block;
  position: absolute;
  bottom: -8.5em; 
  margin-right: 27em; 
  transform: translateX(-50%);
  padding: 1em 2em;
}


/* Laat u inspireren-8 */

section:nth-of-type(7) > h2:first-child{
  
  margin-top: 9em;
  display: flex;
  justify-content: center;
  margin-right: 30em;
  }

  section:nth-of-type(7) > h3:nth-of-type(1){
  
  margin-top: -1em;
  display: flex;
  justify-content: center;
  margin-right: 30em;
  }



/* jouw code */
section:nth-of-type(8){
	display: flex;
  flex-direction: column;
  align-items: center; 
  position: relative;
  height: 42vh;
 
}

section:nth-of-type(8) ul{
  display: grid;
  grid-template-columns: 510px 320px;
  margin-right: 10em;
}

section:nth-of-type(8) li{
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
  align-items: baseline;
	padding: 1em;
	text-align: center;
	text-shadow: 0 8px 8px rgba(0, 0, 0, .08);
}

section:nth-of-type(8) li section{
  position: absolute;
  margin-left:14em ;
}

section:nth-of-type(8) ul li img{
	width:30em ;
	border-radius: 0.5em;
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
  margin-right: 2em;

}

section:nth-of-type(8) button{
  margin-top:0; 
  display: block;
  position: absolute;
  bottom: -35em; 
  margin-right: 14em; 
  transform: translateX(-50%);
  padding: 1em 2em;
}


/* op zoek naar speciale aanbiedingen? */

section:nth-of-type(9){
  display: flex;
  justify-content: center;
}

section:nth-of-type(9) ul{
  max-width: 1000px;
	display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
	padding-left: 3em;
	margin-left: 3em;
	margin-right: 3em;
	margin-top: 50em;
  margin-bottom: 10em;
    border-radius: 0.5em;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
	list-style-type: none;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), 0 2px 6px 1px rgba(0, 0, 0, 0.2);
}

section:nth-of-type(9) li h2:first-child{
	margin-bottom: 0.5em;
}



section:nth-of-type(9) li h2:first-child,section:nth-of-type(9) li h3:nth-of-type(1){
	color: #072b45;
	font-size: 1rem;
	line-height: 1.5;
	font-weight: 400;
}

section:nth-of-type(9) li button:first-child{
	padding: 1em 2em;
	margin-right: 1.5em;
    background-color: #ffffff;
    color: #0e578c;
    border:solid thin #0e578c;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
	margin-left: 2em;
}

section:nth-of-type(9) li button:first-child:hover{
	background-color:#d6e2ec;
}