/**************/
/* CSS REMEDY */
/**************/



header nav ul {
  display: flex;
  list-style: none;
}

.hamburger {
  display: none; 
}



/*********************/
/* CUSTOM PROPERTIES */
/*********************/



/* foto */
main > section:first-child{
display: grid;
background-color: #fff;
}

section:first-child figure{
  grid-row-start: 1;
grid-column-start: 1;
}

section:first-child img {
width: 100%;
height: auto;
object-fit: cover;
display: block;
}

section:first-child section:nth-of-type(1){
border-radius:1em;
background-color: var(--db);
padding:1em;
width: 500px;
padding-right:2em;
opacity: 90%;
display: grid;
grid-row-start: 1;
grid-column-start: 1;
justify-self: end;
align-self: end;
}


section:first-child section:nth-of-type(1) h2{
color: var(--w);
}

section:first-child section:nth-of-type(1) p{
color: var(--w);
}

section:first-child section:nth-of-type(1) a{
color: var(--w);
text-decoration: none;
justify-self: end;
}

section:first-child section:nth-of-type(1) a:hover{
color: var(--w);
transition: 1s;
border-bottom:solid var(--w);
}

section:first-child nav a{
color: var(--s2t);
}


button:hover {
background-color:var(--button-h);
box-shadow: 2px 2px 2px 2px var(--box-sh);
transition: 0.3s;
}




/* Een vlucht boeken 2 */

section:nth-of-type(2){
  display: grid;
  justify-content: center;
}
section:nth-of-type(2) form {
border-radius: 1em;
box-shadow: 0 1px 2px var(--box-sh), 0 2px 6px 1px var(--box-sh);
padding: 1em;
margin: 1em;
width: 90%;
background-color: var(--w);
}

section:nth-of-type(2) input{
padding: 1em;
text-decoration: var(--zwart);
border-radius: 5px;
margin: 1em;
font-size: 1rem;
line-height: 1.5;
}

section:nth-of-type(2) input[name="departure"],
section:nth-of-type(2) input[name="destination"]{
width: 38%;
color: var(--w);
}

section:nth-of-type(2) input[name="departure-date" ],
section:nth-of-type(2) input[name="return-date"]{
width: 35%;
}

section:nth-of-type(2) select{
padding: 1em;
padding-right: 4em;
text-decoration: var(--zwart);
border-radius: 5px;
margin: 1em;
font-size: 1rem;
line-height: 1.5;
}

section:nth-of-type(2) form button{
display: flex;
float: right;
margin-top: 2em;
}


/* Bestemming en deals 3 */

section:nth-of-type(3) {
  display: grid;
  justify-content: center;
}

section:nth-of-type(3) h2{
  align-self: baseline;
}

table {
  border-collapse: collapse;
  width: 100%; 
  max-width: 1000px;
  margin: auto;
}

td {
  padding: 10px;
  text-align: left; 
}

tr {
  border-bottom: solid 1px var(--lg);
}

table span {
  display: flex;
}

td img {
  border-radius: 5px;
}

td:first-child {
  display: flex;
  justify-content: flex-end;
}

tr:hover {
  background-color: var(--tr-h);
}

table a {
  text-decoration: none;
  color: inherit;
}

table a:hover {
  background-color: var(--lg);
}

section:nth-of-type(3) p{
  width: 62.5em;
  justify-self: center;
}

section:nth-of-type(3) button {
  justify-self: baseline;
}




/* blijf op de hoogte-4 */

section:nth-of-type(4){
display: grid;
justify-content: center;
}


section:nth-of-type(4) a > h2:first-child{
padding-left: 1em;   
}

section:nth-of-type(4) ul{
display: grid;
grid-template-columns: 500px 500px;
}

section:nth-of-type(4) ul::-webkit-scrollbar {
display: none;
}

section:nth-of-type(4) li {
box-shadow: 0 1px 2px var(--box-sh), 0 2px 6px 1px var(--box-sh);
width: 30em;
padding-left: 0;
margin-left: 1em;
border-radius: 1em;
margin-bottom: 1em;
list-style-type: none; 
display: flex;
flex-shrink: 1;
scroll-snap-align: center;

}

section:nth-of-type(4) a{
text-decoration: none;
color: var(--zwart);
display: flex;
flex-direction: column;
background-color: var(--w);
border-radius: 1em;
}
section:nth-of-type(4) a:hover{
text-decoration: none;
color: var(--zwart);
box-shadow: 0 1px 2px var(--box-sh), 0 2px 6px 1px var(--box-sh);
transition: 0.3s;
border-radius: 1em;
}

section:nth-of-type(4) img {
width: 100%;
border-radius: 1em;
order: -1;
}

section:nth-of-type(4) p {
padding: 0em 1em 0em 1em;
}


/* op zoek naar meer dan eenvlucht?-5 */
section:nth-of-type(5){
  display: grid;
  justify-content: center;
}



section:nth-of-type(5) > h2:first-child {
display: grid;
justify-content: start;
}

section:nth-of-type(5) ul{
display:flex;
justify-content: center;
gap: 2em;
padding: 0;


}

section:nth-of-type(5) li{
list-style-type: none; 
justify-content: start;
width: 13em;
border-radius: 1em;
background-color: var(--s4-li);
display: flex;
text-align: center;
padding: 0.5em;
}

section:nth-of-type(5) a{
text-decoration: none;
color: var(--zwart);
display: flex;
flex-direction: column;
}


section:nth-of-type(5) ul img {
width: 70%;
border-radius: 1em;
order: -1;
}

section:nth-of-type(5) button{
padding: 1em 2em;
justify-self: baseline;
}


/* Laat u inspireren-6 */

section:nth-of-type(6) > h2:first-child{
  justify-self: baseline;
  padding-top: 2em;
  margin: 0;
}

section:nth-of-type(6) > h3:nth-of-type(1){
  justify-self: baseline;
  margin: 0;
}


section:nth-of-type(6){
  display: grid;
  justify-content: center;
}

section:nth-of-type(6) ul{
display: grid;
grid-template-columns: 515px 515px;
padding: 0;
}

section:nth-of-type(6) li{
position: relative;
display: flex;
flex-direction: column;
justify-content: flex-end;
align-items:center;
padding-top: 1em;
padding-left: 0;
text-shadow: 0 8px 8px var(--t-sha);
}

section:nth-of-type(6) li section{
position: absolute;
text-align: center;

}

section:nth-of-type(6) ul li img{
width:30em ;
border-radius: 0.5em;
box-shadow: 0 1px 2px var(--box-sh), 0 2px 6px 1px var(--box-sh);
}

section:nth-of-type(6) button{
padding: 1em 2em;
justify-self: baseline;
}


/* op zoek naar speciale aanbiedingen? */

section:nth-of-type(7){
display: flex;
justify-content: center;
}

section:nth-of-type(7) ul{
color: var(--w);
max-width: 1000px;
display: flex;
justify-content: space-between;
align-items: center;
padding: 1em;
border-radius: 0.5em;
box-shadow: 0 1px 2px var(--box-sh), 0 2px 6px 1px var(--box-sh);
list-style-type: none;
background-color: var(--s7b);
}

section:nth-of-type(7) li h2:first-child{
margin-bottom: 0.5em;
}



section:nth-of-type(7) li h2:first-child,section:nth-of-type(7) li h3:nth-of-type(1){
color: var(--db);
}

section:nth-of-type(7) li button:first-child{
padding: 1em 2em;

color: var(--button);
border:solid thin var(--button);
cursor: pointer;
border-radius: 5px;

}

section:nth-of-type(7) li button:first-child:hover{
color:var(--s7b);
}




@media (max-width: 950px){
section:first-child section:nth-of-type(1) {
width: 95%;
opacity: 100;
justify-self: center;
}
section:first-child figure{
  margin-top: 8em;
}
section:first-child section:nth-of-type(1) h2{
  margin: 0;
}
section:first-child section:nth-of-type(1) h3{
  margin: 0;
}

section:nth-of-type(3){
  display: grid;
}

section:nth-of-type(3) h2{
  display: grid;
  justify-content: space-evenly;
}

section:nth-of-type(3) td{
  display: grid;
  justify-content: center;
}

table, tr, td, th {
  display: grid;
  justify-content: space-evenly;
  
}

tr {
  margin-bottom: 15px;
  border: 1px solid #ddd;
  text-align: center;
}

td:first-child {
  text-align: center; 
  padding-bottom: 10px;
}

td {
  padding: 5px;
}

td span, td p {
  display: block;
}

section:nth-of-type(3) p{
  width: 80%;
}

section:nth-of-type(3) button {
  width: 17em;
}



section:nth-of-type(4) > h2:first-child {
display: flex;
justify-content: start;
}

section:nth-of-type(4) ul {
display: grid;
grid-template-columns: 342px 395px;
}

section:nth-of-type(4) li{
  width: 20em;
}


section:nth-of-type(5) > h2:first-child {
position: relative;
}

section:nth-of-type(5) ul{
  display: grid;
  grid-template-columns: 197px 448px;
}


section:nth-of-type(5) > h3:nth-of-type(1){
position: relative;
}

section:nth-of-type(6){
  padding: 0;
}

section:nth-of-type(6) ul {
display: flex;
flex-wrap: wrap;
justify-content: center;
}

section:nth-of-type(6) > h2:first-child {
  justify-self: center;

}

section:nth-of-type(6) > h3:nth-of-type(1) {
  justify-self: center;

}
}

@media (max-width: 480px){
/* test */
header nav ul {
  display: none;
  flex-direction: column;
  position: absolute;
  background-color: #fff;
  width: 100%;
}

.hamburger {
  display: block;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.nav-open nav ul {
  display: flex;
}
/* test */
section:first-child figure{
width: 100%;
}


section:first-child section:nth-of-type(1) a{
display: flex;
justify-content: space-evenly;
}

section:first-child > nav li{
padding: 0.5em;
}

section:nth-of-type(1) input[name="departure"], section:nth-of-type(1) input[name="destination"]{
width: 90%;
}

section:nth-of-type(1) input[name="departure-date" ], section:nth-of-type(1) input[name="return-date"]{
width: 90%;
}


td{
display: flex;
justify-content: center;
}

span:nth-of-type(1){
position: absolute;
}


section:nth-of-type(2) button{
position: relative;
}

section:nth-of-type(3) li{
width: 90%;
}


section:nth-of-type(4) ul{
display: flex;
flex-wrap: wrap;
}


section:nth-of-type(5) ul {
  display: flex;
  flex-direction: column;
}

section:nth-of-type(6) ul li img{
width: 17em;
}

section:nth-of-type(6) li section{
position: absolute;

}

section:nth-of-type(7) ul{
display: flex;
flex-direction: column;
}

}